#oraszam{
    display: flex;
}

#osztalyterem{
    size: 3px;
}

div{
    background-color: black;
    color: white;
    width: 800px;
}

#piros{
    background-color: red;
}

a{
    color: wheat;
    text-decoration: none;
}